apiVersion: v1
data:
  ee.list: |
    {{ aap_ee_list }} 
kind: ConfigMap
metadata:
  creationTimestamp: {{ aap_ee_cfgmp.resources[0].metadata.creationTimestamp }}
  name: {{ aap_ee_cfgmp.resources[0].metadata.name }}
  namespace: {{ aap_ee_cfgmp.resources[0].metadata.namespace }}
  resourceVersion: {{ aap_ee_cfgmp.resources[0].metadata.resourceVersion }}
  uid: {{ aap_ee_cfgmp.resources[0].metadata.uid }}
